<%= @game.turn.name %> Attacks successfully on <%= @game.enemy_of(@game.turn).name %>
  <%= @game.enemy_of(@game.turn).name %>'s Hit points: <%= @game.enemy_of(@game.turn).hp %>
<a href="/play">Next Round</a>
