<%= @game.turn.name %> Attacks successfully on <%= @game.enemy_of(@game.turn).name %>

<h1>  </h1>

<a href="/">Play Again?</a>

<img style="border-radius: 3px; border-width: 0px; position: absolute; z-index: 2147483647; display: inline-block; width: 399.398px; height: 397.8px; left: -199.5px; top: -198.5px; background-color: transparent;" src="https://67.media.tumblr.com/9913b8b00084a366081dfbd3224a47c2/tumblr_n0ypbdMpgC1qii7kuo1_500.gif" id="tumblr_lightbox_center_image">
