<form action="/names" method="post">
    <div>
        <label for="name">Player 1:</label>
        <input type="text" id="name" name="user_name_one" />
    </div>
    <div>
        <label for="name">Player 2:</label>
        <input type="text" id="name" name="user_name_two" />
    </div>
    <div class="button">
        <button type="submit">Save player names</button>
    </div>
</form>
