<%= "Welcome to the game where #{@game.p1.name} plays #{@game.p2.name}" %>
<%= @game.p2.name %>'s Hit points: <%= @game.p2.hp %>

#hard coded who is attacker and attackee

<a href="/attack">Attack</a>
